@charset "utf-8";
/* CSS Document */
h1{text-align:center;
}

.subtitulo{
	font-size:12px;
}

body{
	background-color:rgb(170, 252, 255);
	
}

table td{
	text-align:center;
	border: 1px #9999ff solid;

	

}


table .bot{
	padding:0 5px;
	display:inline;
	border:0;
}

table .primera_fila{
	font-size:1.5em;
	background-color:rgb(255, 186, 177);
	
}

.form-group{
	text-align:center;
}



